@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar-track {
    background-color: transparent;
}

* {
    scrollbar-color: rgba(186, 186, 186, 0.756) transparent;
    scrollbar-width: thin;
}

.custom-scroll {
    scrollbar-width: none;
}